<!DOCTYPE html>
<html>
<head>
	<title>Hmmm..</title>
</head>
<body>
<h2 class="text-center">Pls the page you are trying to access is not available ...</h2>
<a class="btn btn-primary" href="#">Home</a>
</body>
</html>